html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #effaff;
    display: flex;
    flex-direction: column;
    margin:0;
}

a {
    text-decoration: none;
    color: #4444AA;
}

a:hover {
    text-decoration: underline;
    color: black;
}

.left-nav {
    margin: 0.5em;
}

.navbar {
    padding: 0;
    -webkit-padding-start: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.other-sites-list {

}

.other-sites-item {
    list-style-type: square;
}

.nav-item {
    list-style-type: none;
    padding: 0;
    -webkit-padding-start: 0;
    display: inline-block;
}

.nav-link, .nav-link:visited {
    display: block;
    text-decoration: none;
    color: #0055AA;
    width: 6rem;
}

.nav-link:hover {
    text-decoration: underline;
    color: black;
}

.left-nav {
    background-color: #EEEEFF;
    border: 1px solid black;
    padding: 1rem;
    text-align: center;
}

.main {
    width: 40em;
    margin-top: 0em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    padding-top: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    border: 1px solid black;
    flex:1;
}

.code {
    border: 1px solid #CCCCCC;
    background-color: #EEEEEE;
    font-family: monospace;
    white-space: nowrap;
}

.code pre {
    padding: 0.5rem;
}

.code h4 {
    padding-top: 0.25em;
    padding-left: 0.25em;
    margin: 0;
}
