<head>
    <title>{{ page.title }} :: Avery J Fischer</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{{ "/css/normalize.css" | relative_url }}" type="text/css">
    <link rel="stylesheet" href="{{ "/css/main.css" | relative_url }}" type="text/css">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/icons/apple-touch-icon.png?v=47Mll645L8" | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/icons/favicon-32x32.png?v=47Mll645L8" | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/icons/favicon-16x16.png?v=47Mll645L8" | relative_url }}">
    <link rel="manifest" href="{{ "/icons/manifest.json?v=47Mll645L8" | relative_url }}">
    <link rel="mask-icon" href="{{ "/icons/safari-pinned-tab.svg?v=47Mll645L8" color="#5bbad5" | relative_url }}">
    <link rel="shortcut icon" href="{{ "/icons/favicon.ico?v=47Mll645L8" | relative_url }}">
    <meta name="msapplication-config" content="{{ "/icons/browserconfig.xml?v=47Mll645L8" | relative_url }}">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    {% seo title=false %}
</head>
