<div class="nav">
    <span class="nav-helper">{{ page.title }} <span class="caret"></span></span>
    <ul class="navbar">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="{% link posts/index.html %}" class="nav-link">Posts</a></li>
        <li class="nav-item"><a href="{% link projects/index.html %}" class="nav-link">Projects</a></li>
        <li class="nav-item"><a href="{% link about-me/index.html %}" class="nav-link">About Me</a></li>
        <li class="nav-item"><a href="{% link contact-me/index.html %}" class="nav-link">Contact Me</a></li>
    </ul>
    <hr class="separator"/>
    <ul class="navbar">
        <li class="nav-item"><a href="https://www.github.com/biggerfisch" class="nav-link">Github</a></li>
        <li class="nav-item"><a href="https://www.linkedin.com/in/averyjfischer" class="nav-link">LinkedIn</a></li>
        <li class="nav-item"><a href="https://keybase.io/biggerfisch" class="nav-link">Keybase</a></li>
    </ul>
</div>
